<%= form_for(@fd_type) do |f| %>
  <% if @fd_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fd_type.errors.count, "error") %> prohibited this fd_type from being saved:</h2>

      <ul>
      <% @fd_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <%= f.label "Category item name", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Type", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.select :foodtype, options_for_select(["food", "drink"]), {}, {:class => "form-control"} %>
          </div>
        </div>
      </div>

    </div>

    <div class="center">
      <div class="actions">
        <div class="col-md-2 col-md-offset-5">
          <%= f.submit "Submit", class: "btn btn-primary" %>
          <%= link_to 'Back', admin_category_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
<% end %>
