<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-2">
    <%= image_tag(@club.club_avatar, style: "height: 100px; width: 100px;") %>
  </div>
  <div class="col-md-10">
    <h3><%= @club.name %></h3>
    <p><%= @club.description %></p>
  </div>
</div>

<% if user_signed_in? %>
  
  <%= form_tag("/clubs/join/" + @club.id.to_s, method: :PUT) do %>
      <%= submit_tag is_member, class: "btn btn-primary" %>
  <% end %>
  
  <% if can_manage %>
    <%= button_tag "Add Event", type: 'button', class: 'btn btn-info', data: {toggle: 'modal', target: '#myNewModal'} %>
    <div class="modal fade" id="myNewModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <%= button_tag(type: 'button', class: 'close', data: {dismiss: 'modal'}) do %>
              &times;
            <% end %>
            <h4 class="modal-title">Create Event</h4>
          </div>
          <div class="modal-body">
            <%= render '/club_events/new_club_event' %>
          </div>
        </div>
      </div>
    </div>
    <%= button_to "Delete Club", @club, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
  <% end %>
<% end %>

<% if can_view %>
  <div>
    <% if @club.club_events.presence %>
      <%= render 'club_events/show_club_event' %>
    <% end %>
  </div>
  <div>
    <%= commontator_thread(@club) %>
  </div>
<% end %>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
