<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Club avatar:</strong>
  <%= @club.club_avatar %>
</p>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>

<p>
  <strong>Club event:</strong>
  <%= @club.club_event_id %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
