<div class="center">
    <h1 class="h-tt">
        <%= getname(@user, current_user) %> Profile
    </h1>
    <div class="row">
        <div class="col-md-3 left-side">
            <div class="col-md-10 pull-right">
                <div>
                    <%= image_tag(@user.avatar_url, class: 'avatar') %>
                </div>
                <h3><%= @user.name %></h3>
                Email: <%= @user.email %><br />
                Gender: 
                <% if @user.gender %>
                Male
                <% else %>
                Female
                <% end %><br />
                <% if @user.address.presence %>
                    Contact Address: <%= @user.address %><br />
                <% end %>
                <% if @user.hobbies.presence %>
                    Hobbies: <%= @user.hobbies %><br />
                <% end %>
                <% if user_signed_in? && current_user.id == @user.id %>
                <%= link_to "Change Profile", edit_user_registration_path,  {:style => 'color: blue;font-weight:bold;text-decoration: underline;'} %>
                <% end %>
            </div>
        </div>
        <div class="col-md-9 right-side">
            <div>
                <h3 style="font-weight: bold;"><%= getname(@user, current_user) %> reviews (<%= @user.fooddrinks.count %>)</h3>
                <%= render 'users/show_fooddrinks.html.erb' %>
            </div>
        </div>
    </div>
        
    <div class="row">    
        <div class="col-md-3"></div>
        <div class="col-md-9 row">
            <div class="col-md-6">
                <h3 style="font-weight: bold; text-align: left;">
                    <%= getname(@user, current_user) %> clubs (<%= @own_clubs.count %>)
                </h3>
                <%= render 'show_clubs.html.erb' %>
            </div>
            <div class="col-md-6">
                <h3 style="font-weight: bold; text-align: left;"><%= getname(@user, current_user) %> joining clubs 
                (<%= @join_clubs.count %>)</h3>
                <%= render 'show_joining_clubs.html.erb' %>
            </div>
        </div>
    </div>
    
</div>
</br></br>

<style>
img {
    border-radius: 6px;
}
</style>